@import 'components/header',
        'components/main',
        'components/projects';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
} 
  html {
    font-size: 62.5%; 
} 
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box; 
    transition: 5s all;
}
.emph {
    color:rgb(255, 196, 0);
    font-weight: bold;
}
.orangebar {
    width: 100%;
    height: .5rem;
    background-color: orange;
}
.whitebar {
    width: 100%;
    height: .5rem;
    background-color: white;
}
.center {
    justify-content: center;
    align-items: center;
}