.header {
    &__wrap {
        background-image: url("../../../img/clouds.jpg");
        height: 30rem;
        width: 100%;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
    }
    &__name {
        font-size: 9rem;
    }
    &__title {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        backface-visibility: hidden;
        
    }
    &__title-1 {
        font-size: 3rem;
        color: $headerColor;
        text-align: left;
        display: block;
        animation: moveInTop .75s ease-in-out .5s;
        animation-fill-mode: backwards;
        text-align: center;
    }
    &__title-2 {
        font-size: 7rem;
        color: $headerColor;
        animation: moveInLeft 1s ease-in 1.7s;
        display: block;
        animation-fill-mode: backwards;
    }
    &__title-3 {
        color: $headerColor;
        line-break: loose;
        font-size: 2.6rem;
        animation: moveInRight 1s ease-in 1.7s;
        display: block;
        animation-fill-mode: backwards;
    }
}

.nav-link {
    font-size: 1.5rem;
}
.nav-link:hover {
    color:$orange!important;
    transition: 2s all;
    backface-visibility: hidden;
    font-weight: bold;
}
.navbar {
    position: static;
    padding: 2rem;
}
nav {
    z-index: 100;
}

@media (max-width: 1024px) {
    .header {
        &__wrap {
            background-image: url("../../../img/clouds.jpg");
            height: 30rem;
            width: 100%;
            background-attachment: fixed;
            position: relative;
        }
        &__name {
            font-size: 8rem;
        }
        &__title {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            backface-visibility: hidden;
            padding-bottom: 1rem;
        }
        &__title-1 {
            font-size: 4rem;
            color: white;
            display: block;
        }
        &__title-2 {
            font-size: 4rem;
            color: white;
            display: block;
            white-space: nowrap;
        }
        &__title-3 {
            color: white;
            line-break: loose;
            font-size: 3rem;
            display: block;
        }
    }
}
@media (max-width: 850px) {
    .header {
        &__wrap {
            background-image: url("../../../img/clouds.jpg");
            height: 30rem;
            width: 100%;
            background-attachment: fixed;
            position: relative;
        }
        &__name {
            font-size: 5rem;
        }
        &__title {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            backface-visibility: hidden;
            padding-bottom: 4rem;
        }
        &__title-1 {
            font-size: 2rem;
            color: white;
            display: block;
        }
        &__title-2 {
            font-size: 2rem;
            color: white;
            display: block;
            white-space: nowrap;
        }
        &__title-3 {
            color: white;
            line-break: loose;
            font-size: 2rem;
            display: block;
        }
    }
}
@media (max-width: 550px) {
    .header {
        &__wrap {
            background-image: url("../../../img/clouds.jpg");
            height: 30rem;
            width: 100%;
            background-attachment: fixed;
            position: relative;
        }
        &__name {
            font-size: 5rem;
        }
        &__title {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            backface-visibility: hidden;
            padding-bottom: 4rem;
        }
        &__title-1 {
            font-size: 2rem;
            color: white;
            display: block;
        }
        &__title-2 {
            font-size: 2rem;
            color: white;
            display: block;
            white-space: nowrap;
        }
        &__title-3 {
            color: white;
            line-break: loose;
            font-size: 2rem;
            display: block;
        }
    }
}


