.project {
    &__wrap {
        height: 100vh;
        background-image: url("../../../img/clouds.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        transition: 10s all;
    }
    &__title-wrap {
        text-align: right;
        padding: 3rem 5rem;
        color: white;
    }
    &__title {
        font-size: 8rem;
        color: white;
    }
    &__desc {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    &__phone {
        width: 15rem;
        position: absolute;
    }
    &__phone:active {
        opacity: 0;
    }
    &__btn {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &__img-script {
        width: 50%;
        display: inline-block;
        text-align: right;
        justify-content: flex-end;
    }
    &__desc-script {
        color: black;
        font-size: 1.5rem;
        padding: 2rem 2rem 0 50%;
    }
}

#id {
    transition: all 10s;
}
.phone1 {
    top: 10%;
    left: 15%;
}
.x1 {
    animation: MoveUpDown 3s linear infinite;
    backface-visibility: hidden;
}
.phone2 {
    top: 35%;
    left: 25%;
    transform: rotate(10deg);
}
.x2 {
    animation: MoveUpDown2 3s linear infinite;
    backface-visibility: hidden;
}
.phone3 {
    top: 25%;
    left: 3%;
    transform: rotate(-10deg);
}
.x3 {
    animation: MoveUpDown3 3s linear infinite;
    backface-visibility: hidden;
}
.phone4 {
    top: 60%;
    left: 13%;
    transform: rotate(3deg);
}
.x4 {
    animation: MoveUpDown4 3s linear infinite;
    backface-visibility: hidden;
}

@keyframes MoveUpDown {
	0% {
	  transform: translateY(0);
    }
	25% {
        transform: translateY(-.5rem);
    }
    80% {
        transform: translateY(.5rem);
    }
    100% {
        transform: translateY(0);
    }
  }
  @keyframes MoveUpDown2 {
	0% {
	  transform: translateY(0) rotate(0);
    }
	25% {
        transform: translateY(-1.5rem) rotate(-3deg) ;
    }
    70% {
        transform: translateY(1rem) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
  }
  @keyframes MoveUpDown3 {
	0% {
	  transform: translateY(0) rotate(0);
    }
	25% {
        transform: translateY(1rem) rotate(-5deg) ;
    }
    75% {
        transform: translateY(.5rem) rotate(-3deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
  }
  @keyframes MoveUpDown4 {
	0% {
	  transform: translateY(0) rotate(0);
    }
	25% {
        transform: translateY(2rem) rotate(-2deg) ;
    }
    75% {
        transform: translateY(1rem) rotate(-5deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
  }
